body {
    width: 90%;
    margin: auto;
}

title {font-family: 'Courier New', Courier, monospace;}

.cabeçalho{
    margin-bottom: 220px;
    overflow: hidden;
    background-color: green;
}

.nome{
    text-align: center;
    margin-top: 100px;
}

#foto{
    float: right;
}

ul {font: italic 15px fantasy;}
.tamanho18 {font-size: 18px;}
.tamanho16 {font-size: 16px;}
.tamanho14  {font-size: 14px;}
.tamanho12 {font-size: 12px;}

